<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <div class="row m-1">
      <div class="col-md-4">
        <div class="text-center">Details</div>
        <form action="">
          <div class="mb-3">
            <label for="task_name" class="form">Task Name</label>
            <input
              type="text"
              class="form-control"
              id="task_name"
              placeholder="Task Name"
            />
          </div>
          <div class="mb-3">
            <label for="author_name" class="form">Author Name</label>
            <input
              type="text"
              class="form-control"
              id="author_name"
              placeholder="Name"
            />
          </div>

          <div class="mb-3">
            <label for="author_email" class="form">Author Email</label>
            <input
              type="email"
              class="form-control"
              id="author_email"
              placeholder="Email"
            />
          </div>

          <div class="mb-3">
            <label for="task_assigned" class="form">Assigned To</label>
            <input
              type="text"
              class="form-control"
              id="task_assigned"
              placeholder="Assignee"
            />
          </div>

          <div class="mb-3">
            <label for="task_description" class="form">Task Description</label>
            <input
              type="text"
              class="form-control"
              id="task_description"
              placeholder="Description"
            />
          </div>
          <div class="row">
            <div class="col-md-3">
              <button class="btn btn-primary" onclick="clearForm(event)">
                Reset
              </button>
            </div>
            <div class="col-md-3 offset-md-6">
              <button class="btn btn-primary" onclick="submitForm(event)">
                Submit
              </button>
            </div>
          </div>
          <!-- <div class=""> -->

          <div
            class="alert alert-warning alert-dismissible fade show w-100"
            role="alert"
          >
            <span id="message" class="text-success"></span>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          <!-- </div> -->
        </form>
      </div>
      <div class="col-md-8 bg-secondary bg-gradient">
        <table class="table table-bordered text-white text-center mt-2">
          <thead>
            <td>Task</td>
            <td>Task Description</td>
            <td>Task Created By</td>
            <td>Assigned To</td>
            <td>Task Status</td>
            <td>Edit</td>
            <td>Delete</td>
          </thead>
          <tbody id="tData"></tbody>
        </table>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      var editForm = false;
      var user_id;
      getData();

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      function addUser(e) {
        e.preventDefault();
        var host_name = window.location.hostname + ":" + window.location.port;
        var protocol = window.location.protocol + "//";
        const csrftoken = getCookie("csrftoken");
        var payload = {};
        payload.task_name = document.getElementById("task_name").value;
        payload.task_description =
          document.getElementById("task_description").value;
        payload.author_name = document.getElementById("author_name").value;
        payload.author_email = document.getElementById("author_email").value;
        payload.task_assigned_to =
          document.getElementById("task_assigned").value;

        payload.task_status = "Pending";
        payload.active = true;
        fetch(protocol + host_name + "/todo/", {
          method: "POST",
          headers: {
            "X-CSRFToken": csrftoken,
            "Content-Type": "application/json",
          },
          body: JSON.stringify(payload),
        })
          //   .then((res) => {
          //     console.log(res.ok);
          //     if (!res.ok) {
          //       console.log(res);
          //       throw new Error("Error over here");
          //     }
          //     return res.json();
          //   })
          //   .then((res) => {
          //     console.log(res);
          //   })
          //   .catch((err) => {
          //     console.log(err);
          //   });

          .then((res) => res.json())
          .then((response) => {
            console.log("Hi");
            console.log(response);
            //   alert("ok1s");
            clearForm(e);
            getData();
            document.getElementById("message").innerHTML = response.msg;
          })
          .catch((err) => console.log(err));
      }

      function getData() {
        var host_name = window.location.hostname + ":" + window.location.port;
        var protocol = window.location.protocol + "//";

        var temp = fetch(protocol + host_name + "/todo/")
          .then((res) => res.json())
          .then((response) => {
            var tmpdata = "";
            console.log(response);
            response.forEach((element) => {
              tmpdata += "<tr>";
              tmpdata += "<td>" + element.task_name + "</td>";
              tmpdata += "<td>" + element.task_description + "</td>";
              tmpdata += "<td>" + element.author_name + "</td>";
              tmpdata += "<td>" + element.task_assigned_to + "</td>";
              tmpdata += "<td>" + element.task_status + "</td>";
              tmpdata +=
                "<td> <button class='btn btn-primary' onclick='editData(" +
                element.id +
                ")' >Edit</button></td>";
              tmpdata +=
                "<td> <button class='btn btn-danger' onclick='deleteTask(" +
                element.id +
                ")'>Delete</button></td>";
              tmpdata += "</tr>";
              document.getElementById("tData").innerHTML = tmpdata;
            });
          });
        console.log(temp);
      }

      function editData(id) {
        var host_name = window.location.hostname + ":" + window.location.port;
        var protocol = window.location.protocol + "//";
        fetch(protocol + host_name + "/todo/" + id + "/", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
          //   body: JSON.stringify(payload),
        })
          .then((response) => response.json())
          .then((response) => {
            console.log(response);
            setFormData(response);
            editForm = true;
            user_id = id;
          });
      }
      function setFormData(response) {
        document.getElementById("task_description").value =
          response.task_description;
        document.getElementById("task_assigned").value =
          response.task_assigned_to;
        document.getElementById("author_name").value = response.author_name;
        document.getElementById("task_name").value = response.task_name;
        document.getElementById("author_email").value = response.author_email;
      }
      function updateUser(e, id) {
        e.preventDefault();
        // alert("Please enter");
        var host_name = window.location.hostname + ":" + window.location.port;
        var protocol = window.location.protocol + "//";
        const csrftoken = getCookie("csrftoken");
        var payload = {};
        payload.task_name = document.getElementById("task_name").value;
        payload.task_description =
          document.getElementById("task_description").value;
        payload.author_name = document.getElementById("author_name").value;
        payload.author_email = document.getElementById("author_email").value;
        payload.task_assigned_to =
          document.getElementById("task_assigned").value;

        payload.task_status = "Pending";
        payload.active = true;
        // alert("Please enter1");
        fetch(protocol + host_name + "/todo/" + id + "/", {
          method: "PUT",
          headers: {
            "X-CSRFToken": csrftoken,
            "Content-Type": "application/json",
          },
          body: JSON.stringify(payload),
        })
          .then((response) => response.json())
          .then((response) => {
            console.log(response);
            // alert("Please enter3");
            editForm = false;
            user_id = -1;
            getData();
            clearForm(e);
          });
      }

      function submitForm(event) {
        event.preventDefault();
        if (!editForm) {
          addUser(event);
        } else {
          updateUser(event, user_id);
        }
      }
      function clearForm(event) {
        event.preventDefault();
        document.getElementById("task_name").value = "";
        document.getElementById("task_description").value = "";
        document.getElementById("author_name").value = "";
        document.getElementById("author_email").value = "";
        document.getElementById("task_assigned").value = "";
        editForm = false;
        user_id = -1;
      }
      function deleteTask(id) {
        console.log("Handling delete");
        var host_name = window.location.hostname + ":" + window.location.port;
        var protocol = window.location.protocol + "//";
        const csrftoken = getCookie("csrftoken");
        fetch(protocol + host_name + "/todo/" + id + "/", {
          method: "DELETE",
          headers: {
            "X-CSRFToken": csrftoken,
            "Content-Type": "application/json",
          },
        }).then((response) => {
          console.log("Handling delete completed");
          getData();
        });

        // .then((response) => {
        //   response.json();
        //   console.log(response);
        //   console.log("HI1");
        //   getData();
        // });

        //   .then((response) => response.json())
        //   .then((response) => {
        //     console.log(response);
        //     getData();
        //   });
      }
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<!-- window.location.hash: "#2"
​
window.location.host: "localhost:4200"
​
window.location.hostname: "localhost"
​
window.location.href: "http://localhost:4200/landing?query=1#2"
​
window.location.origin: "http://localhost:4200"
​
window.location.pathname: "/landing"
​
window.location.port: "4200"
​
window.location.protocol: "http:"

window.location.search: "?query=1" -->
